<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 class="text-center">Sirius Call Center</h2>
      <p class="text-justify">Sirius Call Center est une société de service à haute valeur ajoutée qui vise à permettre à ses clients de réaliser des réductions de coûts significatives dans leurs projets d'externalisation.</p>
      <p class="text-justify">Nous sommes une entité dont la vocation est de gérer à distance la relation que vous souhaitez entretenir avec vos clients et prospects.</p>
      <p class="text-justify">Nous avons mis en place un ensemble de moyens humains, organisationnels et techniques capable d'apporter à la demande et aux besoins de chaque client une réponse adaptée.</p>
      <p class="text-justify">Sirius Call Center s'engage à vous proposer des solutions simples, innovantes et très efficaces en émission ou en réception d'appels, en plus du Web Center.</p>
      <p class="text-justify">Nous avons les moyens et les compétences pour gérer des projets ambitieux de toute envergure.</p>
      <p class="text-justify">Notre principale mission est de soutenir l'investissement de nos clients en les accompagnant dans la préparation de leur "Business Plan" jusqu'à la mise en œuvre opérationnelle de leurs projets.</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12 center-image">
      <img src="assets/call4.png" alt="Image Call Center" class="img-fluid">
    </div>
  </div>
</div>

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
