<div class="container mt-5">
  <h2 class="text-center mb-4">Contactez-nous</h2>
  <div class="row">
    <div class="col-md-8 mx-auto mb-5">
      <form>
        <div class="form-group">
          <label for="name">Nom</label>
          <input type="text" class="form-control" id="name" placeholder="Votre nom">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Votre email">
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" rows="5" placeholder="Votre message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </form>
    </div>
  </div>
  <h2 class="text-center mb-4">Nos Directions</h2>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card contact-card">
        <div class="card-body">
          <h5 class="card-title">Direction G.</h5>
          <p class="card-text">45, Avenue du Japon - Résidence le 45, Bloc A, Bureau A13 (1er Étage)<br>
            Mobile : +216 21 03 80 38<br>
            Téléphone : +216 71 90 36 44<br>
            Fax : +216 71 90 36 46<br>
            Email : <a href="mailto:mamdouh@siriuscallcenter.com">mamdouh@siriuscallcenter.com</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card contact-card">
        <div class="card-body">
          <h5 class="card-title">Direction R.H.</h5>
          <p class="card-text">45, Avenue du Japon - Résidence le 45, Bloc A, Bureau A13 (1er Étage)<br>
            Mobile :<br>
            Téléphone : +216 71 90 36 44<br>
            Fax : +216 71 90 36 46<br>
            Email : <a href="mailto:recrutement@siriuscallcenter.com">recrutement@siriuscallcenter.com</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card contact-card">
        <div class="card-body">
          <h5 class="card-title">Direction C.</h5>
          <p class="card-text">45, Avenue du Japon - Résidence le 45, Bloc A, Bureau A13 (1er Étage)<br>
            Mobile :<br>
            Téléphone : +216 71 90 36 44<br>
            Fax : +216 71 90 36 46<br>
            Email : <a href="mailto:commercial@siriuscallcenter.com">commercial@siriuscallcenter.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
