<div class="container mt-5">
  <h2 class="text-center mb-4">Nos Services</h2>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card service-card transparent-card accompagner-card">
        <div class="card-body">
          <div class="icon-container"><i class="fas fa-hand-holding"></i></div>
          <h5 class="card-title">Accompagner</h5>
          <p class="card-text">Accompagner nos clients dans l’externalisation de leur plate-forme, de la définition de leurs besoins à la mise en œuvre humaine, technique et organisationnelle.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card service-card transparent-card sirius-call-center-card">
        <div class="card-body">
          <div class="icon-container"><i class="fas fa-phone-alt"></i></div>
          <h5 class="card-title">Sirius Call Center</h5>
          <p class="card-text">Offre à ses clients des plateaux d'appels polyvalents (d'émission et de réception) pour un accès rapide et personnalisé à l'information.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card service-card transparent-card offrir-card">
        <div class="card-body">
          <div class="icon-container"><i class="fas fa-gift"></i></div>
          <h5 class="card-title">Offrir</h5>
          <p class="card-text">Offrir à nos partenaires une gestion multi-canal de qualité de la relation client...</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card service-card transparent-card ameliorer-card">
        <div class="card-body">
          <div class="icon-container"><i class="fas fa-chart-line"></i></div>
          <h5 class="card-title">Améliorer la qualité</h5>
          <p class="card-text">Améliorer la qualité des discours tenus aux Clients et/ou Prospects de nos partenaires qui doivent correspondre à leur attente en termes d’image de marque, de connaissance produit et process.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card service-card transparent-card gerer-card">
        <div class="card-body">
          <div class="icon-container"><i class="fas fa-sync-alt"></i></div>
          <h5 class="card-title">Gérer</h5>
          <p class="card-text">Gérer les flux d’appels entrants et sortants dans le cadre de missions récurrentes et ponctuelles de ciblage, conquête, développement et fidélisation.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card service-card transparent-card garantir-card">
        <div class="card-body">
          <div class="icon-container"><i class="fas fa-shield-alt"></i></div>
          <h5 class="card-title">Garantir à nos clients l’assurance</h5>
          <p class="card-text">de la mise en œuvre de moyens appropriés pour que notre prestation soit en adéquation avec leurs besoins.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-center mb-4">L'externalisation Offshore</h2>
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card text-white bg-primary mb-3 outsourcing-card">
        <div class="card-body">
          <h5 class="card-title">Outsourcing</h5>
          <p class="card-text">Externalisez pour une meilleure maîtrise de vos coûts, Bénéficiez de l’expertise d’un spécialiste...</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4">
      <div class="card text-white bg-secondary mb-3 hotel-card">
        <div class="card-body">
          <h5 class="card-title">Hôtel Centre d'appel</h5>
          <p class="card-text">Dans le cadre de location de positions prêtes à émettre et/ou recevoir des appels...</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4">
      <div class="card text-white bg-success mb-3 delegation-card">
        <div class="card-body">
          <h5 class="card-title">Délégation de compétences</h5>
          <p class="card-text">Offre de service exclusivement dédiée à la Tunisie...</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4">
      <div class="card text-white bg-danger mb-3 technologie-card">
        <div class="card-body">
          <h5 class="card-title">Technologie de pointe</h5>
          <p class="card-text">Sirius Call Center est dotée d’une technologie lui permettant de gérer de très grands volumes d’appels.</p>
        </div>
      </div>
    </div>
  </div>
</div>
