

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/call1.webp" class="d-block w-100" alt="Image 1">
    </div>
    <div class="carousel-item">
      <img src="assets/call3.jpg" class="d-block w-100" alt="Image 2">
    </div>
    <div class="carousel-item">
      <img src="assets/call2.webp" class="d-block w-100" alt="Image 3">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>

  <div class="container">
    <div class="column">
      <img src="https://cdn-icons-png.flaticon.com/512/3104/3104373.png" alt="consulting">
      <h2>consulting</h2>
      <p>Accompagner nos clients dans l’externalisation de leur plate-forme, de la définition de leurs besoins à la mise en œuvre humaine, technique et organisationnelle.</p>
    </div>
    <div class="column">
      <img src="https://cdn-icons-png.flaticon.com/512/477/477890.png" alt="analyse">
      <h2>analyse</h2>
      <p>Offrir à nos partenaires une gestion multi-canal de qualité de la relation client.</p>
    </div>
    <div class="column">
      <img src="https://cdn-icons-png.flaticon.com/512/1628/1628441.png" alt="Mission">
      <h2>Mission</h2>
      <p>Gérer les flux d’appels entrants et sortants dans le cadre de missions que se soit de ciblage, de conquête, de développement et de fidélisation.</p>
    </div>
    <div class="column">
      <img src="https://cdn-icons-png.flaticon.com/512/5062/5062832.png" alt="services">
      <h2>services</h2>
      <p>Nous partageons une philosophie commune fondée sur des valeurs orientées vers la satisfaction client. Le Centre offre une relation de confiance durable avec nos clients.
      </p>
    </div>
  </div>


  <div class="services-container">
    <div class="services-content">
        <div class="services-text">
            <h2>Bienvenue a sirius call canter</h2>
            <p>Situé à Tunis, SIRIUS CALL CENTER a pour vocation de proposer à ses clients l’ensemble des moyens techniques et humains nécessaires à la fourniture de prestations en centre de contact multimédia.</p>
            <p>Grâce à notre maîtrise des processus d’externalisation de projets en offshore, nous sommes en mesure d’accompagner nos clients dans la rationalisation de leurs coûts liés à leur production.</p>
            <p>Notre infrastructure, notre programme de formation et notre maîtrise du management opérationnel nous permettent de vous fournir une prestation qui répond aux exigences de qualité et de performance les plus élevées du marché.</p>
            <p>"L’objectif est de vous offrir une gamme de services performante à des prix très avantageux."</p>
            <p>SIRIUS CALL CENTER s'appuie sur son savoir-faire unique avec en complément la combinaison du conseil, de l'intégration et du développement des technologies pour assurer de manière idéale la prestation de service de gestion et de relation client multi-canal et multi-langue.</p>
            <a href="#" class="button">Lire plus</a>
        </div>
    </div>
    <div class="services-list">
        <h2>Nos Services</h2>
        <ul class="services-list-items">
            <li>Téléprospection</li>
            <li>Marketing</li>
            <li>Externalisation SAV</li>
            <li>Télésecrétariat</li>
            <li>Routage</li>
            <li>Création de Trafic</li>
            <li>Appels Sortants</li>
            <li>Appels Entrants</li>
            <li>Vente Directe</li>
            <li>Prise de commandes</li>
            <li>B to B</li>
        </ul>
    </div>
  </div>

<!-- Inclure jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>

<!-- Inclure Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
<footer class="footer">

</footer>

